#login {
    background-color: blue !important;
}

.datatable-info {
    color: #6B7280 !important;
    font-size: 0.875rem  !important;
    padding: 1px  !important;
    margin-left: 1%  !important;
}