{% extends 'baseAuth.html' %}

{% block head %}
   <title>SysTimer - Login</title>
{% endblock %}

{% block conteudo %}
<div class="container mx-auto h-screen flex flex-col md:flex-row">
    <!-- Bloco vermelho ocupando 50% da tela -->
    <div class="w-full md:w-1/2 h-full flex items-center justify-center">
        <div class="bg-blue-500 rounded-xl w-5/6 h-5/6">
            <h2>SysTimer</h2>
        </div>
    </div>
    
    <!-- Bloco verde ocupando 50% da tela -->
    <div class="w-full md:w-1/2 h-full flex items-center justify-center">
        <div class="w-full flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="">
                <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
                <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Faça login na sua conta</h2>
            </div>
          
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                {% csrf_token %}
                <form class="space-y-6" action="{% url 'validar_login'  %}" method="POST">
                    <div>
                        <label for="email" class="block text-sm/6 font-medium text-gray-900">E-mail</label>
                        <div class="mt-2">
                            <input id="email" name="email" placeholder="sys@example.com" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                        </div>
                    </div>
              
                    <div>
                        <div class="flex items-center justify-between">
                            <label for="password" class="block text-sm/6 font-medium text-gray-900">Senha</label>
                            <div class="text-sm">
                                <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Esqueceu a Senha?</a>
                            </div>
                        </div>
                        <div class="mt-2">
                            <input id="password" name="password" placeholder="*******" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                        </div>
                    </div>
              
                    <div>
                        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Entrar</button>
                    </div>
                </form>
          
                <p class="mt-10 text-center text-sm/6 text-gray-500">
                    Ainda não tem conta?
                    <a href="{% url 'cadastro'%}" class="font-semibold text-indigo-600 hover:text-indigo-500">Cadastre-se agora mesmo</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
