{% extends 'base.html' %}

{% block titulo %}
    <title>SysTimer - Home</title>
{% endblock %}

{% block conteudo %}
    <h1 class="font-bold text-2xl">Olá,  
        {% if user.is_authenticated%}
            {{user}}
        {% endif %}
        👋</h1>
    <p class="text-slate-400">Gerencie atualizações, atividades e eventos com facilidade.</p>
    <div class="mt-10 grid grid-rows-1 lg:grid-flow-col gap-10 lg:gap-0">
        <div class="flex border-2 rounded xl:w-[95%] xl:gap-10 lg:p-3 lg:w-[300px] w-full p-6 justify-between">
            <div class="">
                <p class="text-gray-400">Total de Tarefas</p>
                <p class="mt-7 text-2xl font-semibold">300</p>
                <p class="text-sm text-gray-400">Nos últimos 30 dias</p>

            </div>
            <div class="flex w-[100px] items-center justify-center">
                <i class="text-3xl fa-solid fa-chart-line"></i>
            </div>
        </div>

        <div class="flex border-2 rounded xl:w-[95%] xl:gap-10 lg:p-3 lg:w-[300px] w-full p-6 justify-between">
            <div class="">
                <p class="text-gray-400">Total de Tarefas</p>
                <p class="mt-7 text-2xl font-semibold">300</p>
                <p class="text-sm text-gray-400">Nos últimos 30 dias</p>

            </div>
            <div class="flex w-[100px] items-center justify-center">
                <i class="text-3xl fa-solid fa-chart-line"></i>
            </div>
        </div>

        <div class="flex border-2 rounded xl:w-[95%] xl:gap-10 lg:p-3 lg:w-[300px] w-full p-6 justify-between">
            <div class="">
                <p class="text-gray-400">Total de Tarefas</p>
                <p class="mt-7 text-2xl font-semibold">300</p>
                <p class="text-sm text-gray-400">Nos últimos 30 dias</p>

            </div>
            <div class="flex w-[100px] items-center justify-center">
                <i class="text-3xl fa-solid fa-chart-line"></i>
            </div>
        </div>


    </div>
    
{% endblock %}
