{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>SysTimer - Novo Projeto</title>
{% endblock %}

{% block conteudo %}

<form action="{% url 'cadastrar_projeto' %}" method="POST">
    {% csrf_token %}
    <div class="h-[80px] flex items-center justify-between w-full p-5">
        <div class="flex items-center  w-full justify-between p-1rounded-xl">
            <div>
                <div class="text-[10px] flex items-center  font-semibold text-neutral-400">
                    <a class="flex items-center mb-2" href="{% url 'projetos' %}">
                        <i class="fa-solid fa-chevron-left font-bold text-xs"></i>
                        <span class="ml-2 text-xs"> Retornar para Projetos</span>
                    </a>
                </div>
                <div>
                    <span class="text-2xl font-semibold">
                        Cadastrar Novo Projeto
                    </span>
                </div>
            </div>
    
            <div class="flex p-3 items-center">
                <button type="submit"
                    class="flex justify-centeri bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 5l0 14" />
                        <path d="M5 12l14 0" />
                    </svg>
                    Salvar novo Projeto
                </button>
            </div>
        </div>
    </div>
<hr>



    <div class="p-6 grid gap-6 mb-6">
        <div class="w-full justify-between ">
            <label for="client_select" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cliente</label>
            <div class="flex justify-between items-center">
                <div class="w-full">
                    <select id="dropdown-clientes" name="cliente" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        {% for item in cliente %}
                             <option value="{{ item.CLI_COD }}">{{ item.CLI_NOME }}</option>
                        {% endfor %}
                     </select>
                </div>
               
                <div class="ml-4 w-full ">
                    <span>ou</span>
                    <button data-modal-target="crud-modal" data-modal-toggle="crud-modal"  type="button" class="ml-4 bg-blue-500 text-white px-3 py-2 rounded-lg hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-900">
                        +  Cliente
                    </button>
                </div>
            </div>
        </div>

        <div class="">
            <label for="project_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome do Projeto</label>
        <input type="text" id="project_name" name="nome_projeto" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Projeto..." required />
        </div>


        <div>
            <label for="start_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Valor Hora</label>
            <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1M2 5h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
                </svg>
                </div>
                <input 
                type="text" 
                name="valor_hora"
                id="currency-input" 
                class="block p-2.5 w-full z-20 ps-10 text-sm text-gray-900 bg-gray-50 rounded-s-lg border-e-gray-50 border-e-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-e-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" 
                placeholder="0.00" 
                pattern="^\d+(\.\d{1,2})?$" 
                title="Digite um valor válido com até duas casas decimais" 
                required 
            />        </div>
        </div>

        <div>
            <label for="notes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notas</label>
            <textarea id="notes" maxlength="350"  name="notas" rows="4" class="resize-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escreva as notas aqui..." required></textarea>
        </div>

    </div>
</form>


<div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed inset-0 z-50 flex justify-center items-center w-full h-full bg-black bg-opacity-50">    <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Novo Cliente
            </h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <form class="p-4 md:p-5" method="POST" action="{% url 'criar_cliente' %}">
            {% csrf_token %}
            <div class="grid gap-4 mb-4 grid-cols-2">
                <div class="col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome Cliente</label>
                    <input type="text" name="nome_cliente" id="nome_cliente" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Nome do Cliente" required="">
                </div>

            </div>
            <button class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                Adicionar Cliente
            </button>
        </form>
    </div>
</div>
</div> 


{% endblock %}
