{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>SysTimer - Novo Projeto</title>
{% endblock %}

{% block conteudo %}

<form>
    <div class="h-[80px] flex items-center justify-between w-full p-5">
        <div class="flex items-center  w-full justify-between p-1rounded-xl">
            <div>
                <div class="text-[10px] flex items-center  font-semibold text-neutral-400">
                    <a class="flex items-center mb-2" href="{% url 'renderizar_plataforma' %}">
                        <i class="fa-solid fa-chevron-left font-bold text-xs"></i>
                        <span class="ml-2 text-xs"> Retornar para Projetos</span>
                    </a>
                </div>
                <div>
                    <span class="text-2xl font-semibold">
                        Cadastrar Novo Projeto
                    </span>
                </div>
            </div>
    
            <div class="flex p-3 items-center">
                <button type="submit"
                    class="flex justify-centeri bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 5l0 14" />
                        <path d="M5 12l14 0" />
                    </svg>
                    Salvar novo Projeto
                </button>
            </div>
        </div>
    </div>
<hr>



    <div class="p-3 grid gap-6 mb-6">
        <!-- Cliente -->
        <div class="w-full justify-between ">
            <label for="client_select" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cliente</label>
            <div class="flex justify-between items-center">
                <div class="w-full">
                    <select id="dropdown-clientes" name="cliente" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        {% for item in cliente %}
                             <option value="item.CLI_COD">{{ item.CLI_NOME }}</option>
                        {% endfor %}
                     </select>
                </div>
               
                <div class="ml-4 w-full ">
                    <span>ou</span>
                    <button type="button" class="ml-4 bg-blue-500 text-white px-3 py-2 rounded-lg hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-900">
                        + Adicionar Novo Cliente
                    </button>
                </div>
            </div>
        </div>

        <div class="">
            <label for="project_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome do Projeto</label>
        <input type="text" id="project_name" name="nome_projeto" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Projeto..." required />
        </div>

        <div>
            <label for="start_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Datas</label>
            <div class="flex items-center">
                <input type="date" id="start_date" name="data_inicio" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Data de início" required />
                <span class="mx-4 text-gray-500 dark:text-gray-400">para</span>
                <input type="date" id="end_date" name="data_fim" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Data de término" required />
            </div>
        </div>

        <div>
            <label for="notes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notas</label>
            <textarea id="notes" name="notas" rows="4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escreva as notas aqui..." required></textarea>
        </div>

    </div>
</form>


{% endblock %}
