{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block titulo %}
<title>SysTimer - Novo Projeto</title>
{% endblock %}

{% block conteudo %}

<form>
    <div class="grid gap-6 mb-6">
        <!-- Cliente -->
        <div>
            <label for="client_select" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cliente</label>
            <div class="flex items-center">
                <div>
                    <button id="btn-selecionar-cliente" type="button" class="bg-blue-500 text-white px-3 py-2 rounded-lg hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-900">
                        Selecione o Cliente
                    </button>
                    <select id="dropdown-clientes" name="cliente" class="ml-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="">Selecione um cliente</option>
                    </select>
                </div>
                <button type="button" class="ml-4 bg-blue-500 text-white px-3 py-2 rounded-lg hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-900">
                    + Novo Cliente
                </button>
            </div>
        </div>

        <!-- Nome do Projeto -->
        <div>
            <label for="project_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome do Projeto</label>
            <input type="text" id="project_name" name="nome_projeto" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Projeto..." required />
        </div>

        <!-- Datas -->
        <div>
            <label for="start_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Datas</label>
            <div class="flex items-center">
                <input type="date" id="start_date" name="data_inicio" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Data de início" required />
                <span class="mx-4 text-gray-500 dark:text-gray-400">para</span>
                <input type="date" id="end_date" name="data_fim" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Data de término" required />
            </div>
        </div>

        <!-- Notas -->
        <div>
            <label for="notes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notas</label>
            <textarea id="notes" name="notas" rows="4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escreva as notas aqui..." required></textarea>
        </div>
        <button type="submit" class="mt-4 bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 focus:ring-4 focus:ring-green-300 dark:bg-green-700 dark:hover:bg-green-800 dark:focus:ring-green-900">
            Salvar Projeto
        </button>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('btn-selecionar-cliente').addEventListener('click', function () {
            fetch('/listar-clientes/')
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Erro ao buscar clientes');
                    }
                })
                .then(clientes => {
                    const dropdown = document.getElementById('dropdown-clientes');
                    dropdown.innerHTML = '<option value="">Selecione um cliente</option>'; 
    
                    clientes.forEach(cliente => {
                        const option = document.createElement('option');
                        option.value = cliente.CLI_COD;
                        option.textContent = cliente.CLI_NOME;
                        dropdown.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Erro ao buscar clientes. Tente novamente.');
                });
        });
    });
    
</script>

{% endblock %}
