{% extends 'base.html' %} {% load static %} {% block titulo %}
<title>SysTimer - Projeto</title>

{% endblock %} {% block conteudo %}

<div class="h-[80px] flex items-center justify-between w-full p-5">
    <div class="flex items-center  w-full justify-between p-1rounded-xl">
        <div>
            <div class="text-[10px] flex items-center  font-semibold text-neutral-400">

            </div>
            <div>
                <span class="text-2xl font-semibold">
                    Meus Projetos
                </span>
            </div>
        </div>

        <div class="flex p-3 items-center">
            <a href="{% url 'novo_projeto'  %}"
                class="flex justify-centeri bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" />
                </svg>
                Novo Projeto
            </a>
        </div>
    </div>
</div>

<hr>

<div class="p-5">

    {% for cli_nome, projetos in projetos_por_cliente.items %}
    <div class="bg-gray-100 rounded-lg p-4 border mb-4 border-slate-300">
        <div>
            <span class="text-lg font-bold">{{ cli_nome }}</span>
        </div>
        <div class="flex flex-col items-center rounded-lg ">
            {% for projeto in projetos %}
                <div class="flex mb-4 bg-white mt-1 border border-slate-300 justify-between rounded-lg  w-full">
                    <div class="flex w-full items-center p-4">
                        <div class="bg-sky-300 h-5 w-1 mr-3"></div>
                        <span class="text-sm font-semibold">{{ projeto.PJT_NOME }}</span>
                    </div>
        
                        <div class="w-[100%] ml-10 flex">
                            <div class="flex items-center">
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-400 icon icon-tabler icons-tabler-outline icon-tabler-pencil">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                        <path d="M13.5 6.5l4 4" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="w-[100%]  ml-10 mr-10 flex">
                            <div class="flex items-center">
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" class="text-gray-400 icon icon-tabler icons-tabler-filled icon-tabler-trash-x">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16zm-9.489 5.14a1 1 0 0 0 -1.218 1.567l1.292 1.293l-1.292 1.293l-.083 .094a1 1 0 0 0 1.497 1.32l1.293 -1.292l1.293 1.292l.094 .083a1 1 0 0 0 1.32 -1.497l-1.292 -1.293l1.292 -1.293l.083 -.094a1 1 0 0 0 -1.497 -1.32l-1.293 1.292l-1.293 -1.292l-.094 -.083z" />
                                        <path d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 .117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
        

    </div>
{% endfor %}

</div>

{% endblock %}

